
<%  count = 0 %>

<div style="border: 2px solid yellow; background-color: #FFFFCC;" class="container">
    <div class="row">
      <div class="col-md-4">
        <h4 style="font-weight: bold">Total cocktails to choose from: <%=@cocktails.count%></h4>
        <h4>Cocktails 1 to 1000...</h4>
      </div>
      <center>
        <div class="col-md-4">
        <a href="https://drinkwise.org.au/"><img  src="/drinkwise.png" alt="drink wise"></a>
      </center>
      <center>
        <div class="col-md-4">
        <p style="font-weight: bold">This page is powered by</p>
        <a href="https://www.yummly.com"><img style="width: 30%;"  src="/yummly.png" alt="drink wise"></a>
      </center>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">



<% @cocktails.each do |cocktail|  %>

  <!-- <img style-"width: 100%;" src="http://7-themes.com/data_images/out/30/6871862-beach-scenery.jpg" alt=""> -->


    <div style="height:240px;background-color: white; border: 2px solid red; border-radius: 10%;" class="col-md-2">
      <h6><a href="/cocktails/<%=cocktail.cocktail_id%>"><%=cocktail.name%></a></h6>

      <% if cocktail.image_url != "Image Not Available" %>
        <img src=<%=cocktail.image_url%> alt=""></img>
      <% else %>
        <img style="width:98%;" src="/Cocktailani.gif" alt="Cocktail"></img>
      <% end %>

      <p style="font-size: 12px"><%=cocktail.ingredients%></p>
    </div>


<% 

  count = count + 1
  if count == 1000
    break
  end
  
end %>

  </div>
</div>


    <script src = "jquery-1.11.3.min.js" ></script>
    <script src = "bootstrap/js/bootstrap.js" ></script>



