<div style="margin-top: 10px;" class="container">
  <div class="row">
    <div style="padding:3%; background-color: white; border-radius: 10%;" class="col-md-8">
      <h2><%=@cocktail["name"]%></h2>
      <img style="width:100%" src="<%=@cocktail["images"][0]["imageUrlsBySize"]["360"]%>" alt= ""></img>

      <h4>Preparation Time: <%=@cocktail["prepTime"]%></h4>
      <h4>Number of Servings: <%=@cocktail["numberOfServings"]%></h4>
      <h4>Ingredients:</h4>
      <p><%=@cocktail["ingredientLines"]%></p>

      <h4>Source: <%=@cocktail["source"]["sourceDisplayName"]%></h4>
      <h4>Directions: <a href="<%=@cocktail["source"]["sourceRecipeUrl"]%>"><%=@cocktail["source"]["sourceRecipeUrl"]%></a></h4>
    </div>
    <div class="col-md-3">
    <h6 style="font-weight: bold">This page is powered by</h6>
    <a href="https://www.yummly.com"><img style="width: 30%;"  src="/yummly.png" alt="drink wise"></a>
    </div>
  </row>
</div>
</div>
