<section class="info">
	<div class="detail">
		<div class="bar-list">
		<p class="location"><%= @location %></p>
<!-- 		<p>hello <%= @address %></p> -->
<!-- 		<p><%= @postcode %></p> -->
		<p><%= @day %></p>
			<% @bars.each do |bar| %>
				<h3><%= bar.name %></h3>
				<p><%= bar.address %></p>
				<a href="<%= bar.website %>"><%= bar.website %></a>
			<% end %>
		</div>
	</div>

	<div class="map">
		
	</div>
</section>

<script>
 $('document').ready(initMap());
</script>